In [1]:
import pandas as pd
import pandera as pa
from pandera.engines.pandas_engine import PydanticModel
from pydantic import BaseModel

from stac_generator.base.schema import DataFrameSchema, STACConfig
from stac_generator.csv.schema import CSVConfig

In [2]:
CSVSchema = DataFrameSchema[CSVConfig]

In [3]:
csv_config = pd.DataFrame({"id": ["first_point_data", "second_point_data"], "location": ["./first_data.csv", "./second_data.csv"], "local": ["first_data.csv", "second_data.csv"], "X": ["Longitude", "Longitude"], "Y": ["Latitude", "Latitude"]})

In [4]:
CSVSchema(csv_config)

,X,Y,datetime,start_datetime,end_datetime,id,location,local
0,Longitude,Latitude,2024-10-08 06:19:01.572541+00:00,2024-10-08 06:19:01.572541+00:00,2024-10-08 06:19:01.572541+00:00,first_point_data,./first_data.csv,first_data.csv
1,Longitude,Latitude,2024-10-08 06:19:01.572607+00:00,2024-10-08 06:19:01.572607+00:00,2024-10-08 06:19:01.572607+00:00,second_point_data,./second_data.csv,second_data.csv

In [8]:
configs = [CSVConfig(**csv_config.loc[i,:].to_dict()) for i in range(len(csv_config))]

In [9]:
configs

[CSVConfig(X='Longitude', Y='Latitude', epsg=4326, T=None, column_info=None, groupby=None, date_format='ISO8601', title=None, description=None, datetime=datetime.datetime(2024, 10, 8, 6, 20, 29, 986408, tzinfo=datetime.timezone.utc), created=None, updated=None, start_datetime=datetime.datetime(2024, 10, 8, 6, 20, 29, 986408, tzinfo=datetime.timezone.utc), end_datetime=datetime.datetime(2024, 10, 8, 6, 20, 29, 986408, tzinfo=datetime.timezone.utc), license=None, providers=None, platform=None, instruments=None, constellation=None, mission=None, gsd=None, id='first_point_data', prefix=None, location='./first_data.csv', local='first_data.csv', extension=None, method='GET', params=None, headers=None, cookies=None, content=None, data=None, json_body=None),
 CSVConfig(X='Longitude', Y='Latitude', epsg=4326, T=None, column_info=None, groupby=None, date_format='ISO8601', title=None, description=None, datetime=datetime.datetime(2024, 10, 8, 6, 20, 29, 986688, tzinfo=datetime.timezone.utc), created=None, updated=None, start_datetime=datetime.datetime(2024, 10, 8, 6, 20, 29, 986688, tzinfo=datetime.timezone.utc), end_datetime=datetime.datetime(2024, 10, 8, 6, 20, 29, 986688, tzinfo=datetime.timezone.utc), license=None, providers=None, platform=None, instruments=None, constellation=None, mission=None, gsd=None, id='second_point_data', prefix=None, location='./second_data.csv', local='second_data.csv', extension=None, method='GET', params=None, headers=None, cookies=None, content=None, data=None, json_body=None)]